 .display-4 {
    color: blue;    
}

.lead {
    color: red; 

}

.jumbotron {
    z-index:10;
}
 
 #logo {
    max-width: 15%;
    opacity: 0.5;
    margin-left: 43%;
    margin-right: auto;
   
 }
 
 #logo:hover {
    opacity:1;
  }
  
#imgs{
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    height: auto;

}

#map {
    height: 400px;
    width: 400px;
  }


  #gold{
      color: gold;
      font-size: 30px;
  }

  #silver{
      color: #8c8c8c;
      font-size: 25px;
  }

  #bronze{
    color: #998200;
    font-size: 20px
  }

  