body{
    background-repeat: no-repeat;
    background-position: center center;
}


.jumbotron{
    background-color:lightsteelblue;
    Opacity: .9;

}

.jumbo{

    text-align:center;
    font-size: 80px;
    color: rgb(255, 215, 0);
    font-family: 'Cinzel', serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.lead{
    text-align:center;
    color:brown;
    font-size:25px;
    font-family: 'Dancing Script', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.search{
    text-align:center;
    font-family: garamond;
}

.submit{
    justify-content: center;
}

p{
    text-align:center;
    color:rgba(196, 0, 0, 0.781);
}

#rings{
    float:right;
    height:80px;
    width: 150px;
}

#rings2{
    float:left;
    height:80px;
    width:150px;
}

#games:hover{
    background-color: lightblue;
}

#sports:hover{
    background-color: lightblue;
}

#events:hover{
    background-color: lightblue;
}

#add-data:hover{
    background-color: white;
    color:blue;
}

#add-data:active{
    background-color: blue;
}

#dropSport{
    color: lightblue;
}

